[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "chromadb>=1.3.5",
    "fastapi[standard]>=0.121.3",
    "httpx>=0.28.1",
    "sentence-transformers>=5.1.2",
    "uvicorn>=0.38.0",
]
